<!-- index.html -->
<html>
  <head>
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="addNewEmployee.css" />
  </head>

  <div class="header">
    <div class="header-right">
      <a class="active" href="/listBooks">List Books</a>
      <a href="/listAuthors">List Authors</a>
      <a href="/addNewBook.html">Add New Book</a>
      <a href="/addNewAuthor.html">Add New Author</a>
      <a href="/updateAuthorBook.html">Update Book Count</a>
      <a href="/deleteBook.html">Delete Book</a>
    </div>
  </div>
  <body>
    <div class="login-box">
      <h2>Add New Book</h2>
      <form method="post" action="/newBook">
        <div class="user-box">
          <input type="text" name="title" required="" />
          <label>Title</label>
        </div>
        <div class="user-box">
          <input type="text" name="author" required="" />
          <label>Author Id</label>
        </div>
        <div class="user-box">
          <input id="isbn" type="text" name="isbn" required="" readonly />
          <label>ISBN</label>
        </div>
        <div class="user-box">
          <input type="date" name="publication" required="" />
          <label>date of publication</label>
        </div>
        <div class="user-box">
          <input type="text" name="summary" required="" />
          <label>summary</label>
        </div>
        <a onclick="this.parentNode.submit();">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
  </body>
</html>

<script>
  document.getElementById("isbn").value = Math.floor(
    1000000000000 + Math.random() * 9000000000000
  );
</script>
