<html>
  <head>
    <link rel="stylesheet" href="header.css" />
  </head>

  <div class="header">
    <a href="/" class="logo"><img src="monash.png" /></a>
    <div class="header-right">
      <a class="active" href="/listBooks">List Books</a>
      <a href="/listAuthors">List Authors</a>
      <a href="/addNewBook.html">Add New Book</a>
      <a href="/addNewAuthor.html">Add New Author</a>
      <a href="/updateAuthorBook.html">Update Book Count</a>
      <a href="/deleteBook.html">Delete Book</a>
    </div>
  </div>

  <body></body>
</html>
