<html>
  <head>
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="listEmployee.css" />
  </head>

  <div class="header">
    <div class="header-right">
      <a class="active" href="/listBooks">List Books</a>
      <a href="/listAuthors">List Authors</a>
      <a href="/addNewBook.html">Add New Book</a>
      <a href="/addNewAuthor.html">Add New Author</a>
      <a href="/updateAuthorBook.html">Update Book Count</a>
      <a href="/deleteBook.html">Delete Book</a>
    </div>
  </div>
  <section>
    <!--for demo wrap-->
    <h1>Authors List Table</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th># Books</th>
            <th>State</th>
            <th>Suburb</th>
            <th>Street</th>
            <th>Unit</th>
            <th>ID</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <% for ( let i =0; i< db.length;i++){ %>
          <tr>
            <td><%= db[i].name.firstName %></td>
            <td><%= db[i].name.lastName %></td>
            <td><%= db[i].dob %></td>
            <td><%= db[i].numBooks %></td>
            <td><%= db[i].state %></td>
            <td><%= db[i].suburb %></td>
            <td><%= db[i].street %></td>
            <td><%= db[i].unit %></td>
            <td><%= db[i]._id %></td>
          </tr>
          <% }%>
        </tbody>
      </table>
    </div>
  </section>

  <!-- follow me template -->
</html>
